# Local Pi Coding Agent Files
.pi

# Node Modules
node_modules

# Environment Variables
.env

# MAC Files
.DS_Store

# Windows Files
Thumbs.db
Desktop.ini

# Linux Files
.directory
.Trash
.Trash-1000

# Workflow Files
.workspace/

# Reference Repositories
references